In [1]:
import pandapower as pp 
import pandapower.plotting as plot
import numpy as np
import pandas as pd

In [2]:
# open buses
buses = pd.read_csv('net_bus.csv')
buses

      Unnamed: 0      name  vn_kv type  zone  in_service
0              0  42885650  10.60    b   NaN        True
1              1  42882928  10.60    b   NaN        True
2              2  42882783  10.60    b   NaN        True
3              3  52034695  10.60    b   NaN        True
4              4  42885533  10.60    b   NaN        True
5              5  42882924  10.60    b   NaN        True
6              6  42878167  10.60    b   NaN        True
7              7  42964447  10.60    b   NaN        True
8              8  42882919  10.60    b   NaN        True
9              9  42881300  10.60    b   NaN        True
10            10  42882787  10.60    b   NaN        True
11            11  42878168  10.60    b   NaN        True
12            12  52034645  10.60    b   NaN        True
13            13  42878162  10.60    b   NaN        True
14            14  42878160  10.60    b   NaN        True
15            15  42882926  10.60    b   NaN        True
16            16  42885538  10.60    b   NaN        True
17            17  42885652  10.60    b   NaN        True
18            18  42882922  10.60    b   NaN        True
19            19  42878163  10.60    b   NaN        True
20            20  42943585  10.60    b   NaN        True
21            21  42882923  10.60    b   NaN        True
22            22  42878164  10.60    b   NaN        True
23            23  42882927  10.60    b   NaN        True
24            24  42878161  10.60    b   NaN        True
25            25  42980487  10.60    b   NaN        True
26            26  52034685  10.60    b   NaN        True
27            27  42882789  10.60    b   NaN        True
28            28  42882780  10.60    b   NaN        True
29            29  42882921  10.60    b   NaN        True
...          ...       ...    ...  ...   ...         ...
3512        3512  42904372   0.42    b   NaN        True
3513        3513  42944288   0.42    b   NaN        True
3514        3514  42875177   0.42    b   NaN        True
3515        3515  42965388   0.42    b   NaN        True
3516        3516  42943458   0.42    b   NaN        True
3517        3517  42965384   0.42    b   NaN        True
3518        3518  42881440   0.42    b   NaN        True
3519        3519  42943457   0.42    b   NaN        True
3520        3520  42943456   0.42    b   NaN        True
3521        3521  42965386   0.42    b   NaN        True
3522        3522  42875182   0.42    b   NaN        True
3523        3523  42875171   0.42    b   NaN        True
3524        3524  42875173   0.42    b   NaN        True
3525        3525  42965383   0.42    b   NaN        True
3526        3526  42980323   0.42    b   NaN        True
3527        3527  42944287   0.42    b   NaN        True
3528        3528  42875181   0.42    b   NaN        True
3529        3529  42965385   0.42    b   NaN        True
3530        3530  42965387   0.42    b   NaN        True
3531        3531  42875175   0.42    b   NaN        True
3532        3532  42944289   0.42    b   NaN        True
3533        3533  42875176   0.42    b   NaN        True
3534        3534  42944283   0.42    b   NaN        True
3535        3535  42980322   0.42    b   NaN        True
3536        3536  42944285   0.42    b   NaN        True
3537        3537  42875170   0.42    b   NaN        True
3538        3538  42965389   0.42    b   NaN        True
3539        3539  42943455   0.42    b   NaN        True
3540        3540  42882930   0.42    b   NaN        True
3541        3541  42882929   0.42    b   NaN        True

[3542 rows x 6 columns]

In [3]:
### Nodes/busses creation

for i, row in buses.iterrows():
    pp.create_bus(net, name=row.NodeID, vn_kv=row.r_voltage, geodata = (row.CoordX,row.CoordY))

NameError: name 'net' is not defined